/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:267d2483a3cb296b1374e53b137eb86e$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.flags {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../img/ui/flags.png);}

.Afghanistan {width:470px; height:231px; background-position: -6138px -4507px}
.Albania {width:471px; height:324px; background-position: -1279px -1421px}
.Algeria {width:471px; height:311px; background-position: -1419px -4185px}
.American_Samoa {width:471px; height:230px; background-position: -5060px -1339px}
.Andorra {width:471px; height:310px; background-position: -5059px -1571px}
.Angola {width:471px; height:310px; background-position: -1892px -3918px}
.Anguilla {width:470px; height:228px; background-position: -3171px -2122px}
.Antigua_and-Barbuda {width:471px; height:308px; background-position: -5532px -2112px}
.Argentina {width:471px; height:228px; background-position: -5059px -2653px}
.Armenia {width:472px; height:229px; background-position: -3308px -404px}
.Aruba {width:471px; height:308px; background-position: -5121px -1029px}
.Australia {width:472px; height:230px; background-position: -1118px -2733px}
.Austria {width:470px; height:307px; background-position: -4249px -3582px}
.Azerbaijan {width:471px; height:230px; background-position: -4587px -1307px}
.Bahamas {width:468px; height:237px; background-position: -4249px -4199px}
.Bahrain {width:470px; height:266px; background-position: -2170px -2634px}
.Bangladesh {width:471px; height:279px; background-position: -1892px -4230px}
.Barbados {width:470px; height:308px; background-position: -5473px -3220px}
.Belarus {width:470px; height:229px; background-position: -5666px -4974px}
.Belgium {width:469px; height:351px; background-position: -2px -3857px}
.Belize {width:472px; height:280px; background-position: -4256px -404px}
.Benin {width:472px; height:310px; background-position: -4730px -404px}
.Bermuda {width:470px; height:230px; background-position: -6477px -2144px}
.Bhutan {width:469px; height:310px; background-position: -2365px -3827px}
.Bolivia {width:472px; height:308px; background-position: -4175px -686px}
.Bosnia_and-Herzegovina {width:470px; height:228px; background-position: -2642px -2513px}
.Botswana {width:470px; height:309px; background-position: -2837px -4448px}
.Brazil {width:472px; height:324px; background-position: -2283px -635px}
.British_Indian-Ocean-Territory {width:600px; height:300px; background-position: -2px -2842px}
.British_Virgin-Islands {width:471px; height:230px; background-position: -4114px -1305px}
.Brunei {width:471px; height:228px; background-position: -5059px -2423px}
.Bulgaria {width:469px; height:307px; background-position: -4250px -4438px}
.Burkina_Faso {width:471px; height:312px; background-position: -473px -3773px}
.Burundi {width:468px; height:309px; background-position: -3307px -3826px}
.Cambodia {width:471px; height:308px; background-position: -946px -4720px}
.Cameroon {width:471px; height:301px; background-position: -1420px -3267px}
.Canada {width:470px; height:231px; background-position: -5666px -4741px}
.Cape_Verde {width:471px; height:280px; background-position: -474px -3491px}
.Cayman_Islands {width:471px; height:230px; background-position: -2169px -2088px}
.Central_African-Republic {width:469px; height:309px; background-position: -2835px -4759px}
.Chad {width:471px; height:309px; background-position: -5059px -2112px}
.Chile {width:471px; height:310px; background-position: -947px -3507px}
.China {width:471px; height:309px; background-position: -6067px -1030px}
.Christmas_Island {width:471px; height:233px; background-position: -5533px -1339px}
.Colombia {width:471px; height:303px; background-position: -1420px -3570px}
.Comoros {width:466px; height:275px; background-position: -4721px -4110px}
.Cook_Islands {width:472px; height:233px; background-position: -644px -2661px}
.Costa_Rica {width:470px; height:278px; background-position: -2836px -5070px}
.Croatia {width:470px; height:230px; background-position: -6477px -1912px}
.Cuba {width:470px; height:232px; background-position: -5665px -4274px}
.Curaçao {width:800px; height:533px; background-position: -2px -1110px}
.Cyprus {width:470px; height:282px; background-position: -3586px -2977px}
.Czech_Republic {width:470px; height:307px; background-position: -3778px -4441px}
.Democratic_Republic-of-the-Congo {width:471px; height:312px; background-position: -474px -3177px}
.Denmark {width:470px; height:349px; background-position: -2px -4913px}
.Djibouti {width:470px; height:274px; background-position: -6005px -2428px}
.Dominica {width:472px; height:231px; background-position: -1695px -1925px}
.Dominican_Republic {width:470px; height:307px; background-position: -3777px -3891px}
.East_Timor {width:470px; height:233px; background-position: -5194px -4941px}
.Ecuador {width:471px; height:235px; background-position: -2024px -3137px}
.Egypt {width:470px; height:311px; background-position: -3643px -1808px}
.El_Salvador {width:470px; height:278px; background-position: -2364px -5070px}
.Equatorial_Guinea {width:471px; height:313px; background-position: -6150px -404px}
.Eritrea {width:468px; height:304px; background-position: -3780px -4984px}
.Estonia {width:470px; height:310px; background-position: -3586px -2432px}
.Ethiopia {width:471px; height:232px; background-position: -6006px -1341px}
.Falkland_Islands {width:471px; height:230px; background-position: -1078px -2965px}
.Faroe_Islands {width:471px; height:335px; background-position: -1752px -1358px}
.Fiji {width:471px; height:230px; background-position: -2225px -1856px}
.Finland {width:470px; height:278px; background-position: -5945px -3292px}
.France {width:470px; height:307px; background-position: -3777px -3582px}
.French_Polynesia {width:471px; height:308px; background-position: -1419px -3875px}
.French_Southern-Territories {width:600px; height:400px; background-position: -1606px -956px}
.Gabon {width:470px; height:328px; background-position: -2225px -1294px}
.Gambia {width:470px; height:308px; background-position: -2642px -2743px}
.Georgia {width:470px; height:349px; background-position: -2px -4562px}
.Germany {width:471px; height:313px; background-position: -3229px -635px}
.Ghana {width:470px; height:307px; background-position: -3953px -3273px}
.Gibraltar {width:470px; height:232px; background-position: -6135px -4040px}
.Greece {width:470px; height:310px; background-position: -4587px -2096px}
.Greenland {width:470px; height:316px; background-position: -2697px -1291px}
.Grenada {width:471px; height:275px; background-position: -946px -4130px}
.Guadeloupe {width:600px; height:400px; background-position: -6368px -2px}
.Guam {width:471px; height:306px; background-position: -5947px -2984px}
.Guatemala {width:470px; height:287px; background-position: -3641px -1519px}
.Guernsey {width:800px; height:533px; background-position: -804px -2px}
.Guinea-Bissau {width:471px; height:230px; background-position: -2225px -1624px}
.Guinea {width:471px; height:308px; background-position: -947px -3197px}
.Guyana {width:471px; height:279px; background-position: -2698px -1919px}
.Haiti {width:471px; height:311px; background-position: -946px -4407px}
.Honduras {width:470px; height:277px; background-position: -3481px -3261px}
.Hong_Kong {width:472px; height:309px; background-position: -4649px -716px}
.Hungary {width:470px; height:307px; background-position: -2365px -4450px}
.Iceland {width:471px; height:331px; background-position: -2208px -961px}
.India {width:470px; height:312px; background-position: -2170px -2320px}
.Indonesia {width:470px; height:310px; background-position: -4115px -2107px}
.Iran {width:470px; height:261px; background-position: -1694px -2158px}
.Iraq {width:468px; height:310px; background-position: -3171px -1497px}
.Ireland {width:470px; height:232px; background-position: -5663px -4040px}
.Isle_of-Man {width:800px; height:400px; background-position: -5566px -2px}
.Israel {width:470px; height:342px; background-position: -1222px -2079px}
.Italy {width:470px; height:299px; background-position: -1891px -4824px}
.Ivory_Coast {width:470px; height:311px; background-position: -3171px -1809px}
.Jamaica {width:470px; height:223px; background-position: -1892px -5125px}
.Japan {width:469px; height:326px; background-position: -2681px -963px}
.Jersey {width:800px; height:480px; background-position: -804px -537px}
.Jordan {width:470px; height:233px; background-position: -5194px -4706px}
.Kazakhstan {width:471px; height:227px; background-position: -2539px -3053px}
.Kenya {width:471px; height:310px; background-position: -5596px -718px}
.Kiribati {width:470px; height:272px; background-position: -4250px -4747px}
.Kuwait {width:470px; height:232px; background-position: -6133px -3806px}
.Kyrgyzstan {width:471px; height:278px; background-position: -5474px -2940px}
.Laos {width:470px; height:311px; background-position: -3169px -1184px}
.Latvia {width:469px; height:232px; background-position: -6133px -3572px}
.Lebanon {width:470px; height:307px; background-position: -5001px -3192px}
.Lesotho {width:470px; height:311px; background-position: -1891px -4511px}
.Liberia {width:470px; height:234px; background-position: -5189px -4000px}
.Libya {width:471px; height:307px; background-position: -5001px -2883px}
.Liechtenstein {width:471px; height:278px; background-position: -4648px -1027px}
.Lithuania {width:471px; height:227px; background-position: -5532px -1883px}
.Luxembourg {width:470px; height:278px; background-position: -6005px -2704px}
.Macao {width:471px; height:308px; background-position: -2698px -1609px}
.Macedonia {width:470px; height:229px; background-position: -1893px -3687px}
.Madagascar {width:470px; height:312px; background-position: -1419px -4812px}
.Malawi {width:470px; height:311px; background-position: -1893px -3374px}
.Malaysia {width:470px; height:232px; background-position: -5661px -3806px}
.Maldives {width:470px; height:310px; background-position: -3114px -2664px}
.Mali {width:471px; height:307px; background-position: -5532px -1574px}
.Malta {width:470px; height:309px; background-position: -2363px -4759px}
.Marshall_Islands {width:470px; height:239px; background-position: -3777px -4200px}
.Martinique {width:470px; height:307px; background-position: -3777px -3582px}
.Mauritania {width:471px; height:309px; background-position: -946px -3819px}
.Mauritius {width:467px; height:306px; background-position: -3309px -4757px}
.Mexico {width:471px; height:256px; background-position: -4113px -1537px}
.Micronesia {width:471px; height:243px; background-position: -4586px -1539px}
.Moldova {width:471px; height:228px; background-position: -1551px -3037px}
.Monaco {width:469px; height:354px; background-position: -2px -3501px}
.Mongolia {width:468px; height:229px; background-position: -6479px -1449px}
.Montenegro {width:640px; height:320px; background-position: -2px -2520px}
.Montserrat {width:469px; height:233px; background-position: -5194px -4471px}
.Morocco {width:473px; height:311px; background-position: -804px -1421px}
.Mozambique {width:469px; height:310px; background-position: -2365px -3515px}
.Myanmar_[Burma] {width:467px; height:257px; background-position: -3012px -3256px}
.Namibia {width:473px; height:330px; background-position: -1220px -1747px}
.Nauru {width:473px; height:229px; background-position: -2833px -404px}
.Nepal {width:275px; height:330px; background-position: -6540px -1117px}
.Netherlands {width:465px; height:302px; background-position: -4721px -3806px}
.Netherlands_Antilles {width:469px; height:310px; background-position: -4530px -2875px}
.New_Caledonia {width:800px; height:400px; background-position: -4764px -2px}
.New_Zealand {width:471px; height:233px; background-position: -2066px -2902px}
.Nicaragua {width:470px; height:278px; background-position: -3114px -2976px}
.Niger {width:470px; height:347px; background-position: -748px -1734px}
.Nigeria {width:472px; height:230px; background-position: -3782px -404px}
.Niue {width:467px; height:230px; background-position: -6420px -3068px}
.Norfolk_Island {width:471px; height:229px; background-position: -6477px -2376px}
.North_Korea {width:471px; height:232px; background-position: -3229px -950px}
.Northern_Mariana-Islands {width:800px; height:400px; background-position: -3962px -2px}
.Norway {width:470px; height:326px; background-position: -2757px -635px}
.Oman {width:470px; height:232px; background-position: -5661px -3572px}
.Pakistan {width:470px; height:310px; background-position: -3114px -2352px}
.Palau {width:471px; height:287px; background-position: -3641px -1230px}
.Panama {width:471px; height:310px; background-position: -5123px -717px}
.Papua_New-Guinea {width:466px; height:343px; background-position: -754px -2083px}
.Paraguay {width:471px; height:307px; background-position: -5594px -1030px}
.Peru {width:467px; height:308px; background-position: -3309px -4447px}
.Philippines {width:470px; height:233px; background-position: -5191px -4236px}
.Pitcairn_Islands {width:471px; height:228px; background-position: -1752px -1695px}
.Poland {width:470px; height:307px; background-position: -4058px -2964px}
.Portugal {width:471px; height:311px; background-position: -5204px -404px}
.Puerto_Rico {width:471px; height:312px; background-position: -5677px -404px}
.Qatar {width:470px; height:230px; background-position: -6477px -1680px}
.Republic_of-Kosovo {width:800px; height:571px; background-position: -2px -2px}
.Republic_of-the-Congo {width:471px; height:309px; background-position: -6069px -719px}
.Romania {width:472px; height:279px; background-position: -604px -2896px}
.Russia {width:800px; height:533px; background-position: -2px -575px}
.Rwanda {width:472px; height:302px; background-position: -1592px -2733px}
.Saint-Barthélemy {width:750px; height:500px; background-position: -1606px -2px}
.Saint_Helena {width:800px; height:400px; background-position: -3160px -2px}
.Saint_Kitts-and-Nevis {width:470px; height:312px; background-position: -1419px -4498px}
.Saint_Lucia {width:471px; height:227px; background-position: -5059px -1883px}
.Saint_Pierre {width:471px; height:285px; background-position: -5532px -2653px}
.Saint_Vincent-and-the-Grenadines {width:471px; height:308px; background-position: -1226px -2423px}
.Samoa {width:471px; height:231px; background-position: -2497px -3282px}
.San_Marino {width:470px; height:350px; background-position: -2px -4210px}
.Saudi_Arabia {width:469px; height:310px; background-position: -1699px -2421px}
.Senegal {width:471px; height:278px; background-position: -3702px -950px}
.Serbia {width:470px; height:232px; background-position: -5189px -3766px}
.Seychelles {width:468px; height:230px; background-position: -6477px -2607px}
.Sierra_Leone {width:470px; height:307px; background-position: -6005px -2119px}
.Singapore {width:470px; height:310px; background-position: -6005px -1575px}
.Sint_Maarten {width:675px; height:450px; background-position: -1606px -504px}
.Slovakia {width:470px; height:295px; background-position: -4250px -5021px}
.Slovenia {width:470px; height:232px; background-position: -3778px -4750px}
.Solomon_Islands {width:473px; height:229px; background-position: -2358px -404px}
.Somalia {width:471px; height:307px; background-position: -4175px -996px}
.South_Africa {width:470px; height:312px; background-position: -474px -4715px}
.South_Georgia-and-the-South-Sandwich-Islands {width:750px; height:375px; background-position: -2px -2143px}
.South_Georgia {width:471px; height:229px; background-position: -5532px -2422px}
.South_Korea {width:470px; height:307px; background-position: -474px -5029px}
.South_Sudan {width:800px; height:400px; background-position: -2358px -2px}
.Soviet_Union {width:462px; height:231px; background-position: -6417px -3300px}
.Spain {width:470px; height:306px; background-position: -4249px -3891px}
.Sri_Lanka {width:471px; height:225px; background-position: -1419px -5126px}
.Sudan {width:470px; height:227px; background-position: -6477px -2839px}
.Suriname {width:469px; height:309px; background-position: -2836px -4137px}
.Swaziland {width:468px; height:294px; background-position: -4721px -4387px}
.Sweden {width:469px; height:284px; background-position: -3306px -3540px}
.Switzerland {width:356px; height:355px; background-position: -6623px -404px}
.Syria {width:470px; height:311px; background-position: -2642px -2200px}
.São_Tomé-and-Príncipe {width:470px; height:230px; background-position: -6138px -4972px}
.Taiwan {width:471px; height:312px; background-position: -3702px -636px}
.Tajikistan {width:470px; height:232px; background-position: -4115px -2419px}
.Tanzania {width:470px; height:312px; background-position: -474px -4401px}
.Thailand {width:469px; height:309px; background-position: -2836px -3826px}
.Tibet {width:466px; height:303px; background-position: -4721px -3501px}
.Togo {width:470px; height:280px; background-position: -4722px -4683px}
.Tokelau {width:800px; height:400px; background-position: -804px -1019px}
.Tonga {width:470px; height:231px; background-position: -5666px -4508px}
.Trinidad_and-Tobago {width:470px; height:280px; background-position: -3308px -5065px}
.Tunisia {width:470px; height:309px; background-position: -4058px -2653px}
.Turkey {width:470px; height:312px; background-position: -474px -4087px}
.Turkmenistan {width:470px; height:230px; background-position: -6138px -4740px}
.Turks_and-Caicos-Islands {width:470px; height:230px; background-position: -4587px -2408px}
.Tuvalu {width:470px; height:233px; background-position: -4587px -2640px}
.U.S._Virgin-Islands {width:471px; height:306px; background-position: -946px -5030px}
.Uganda {width:470px; height:310px; background-position: -4587px -1784px}
.Ukraine {width:470px; height:310px; background-position: -4115px -1795px}
.United_Arab-Emirates {width:470px; height:231px; background-position: -6137px -4274px}
.United_Kingdom {width:470px; height:234px; background-position: -5189px -3530px}
.United_States {width:470px; height:231px; background-position: -3586px -2744px}
.United_States_Virgin_Islands {width:744px; height:496px; background-position: -2px -1645px}
.Uruguay {width:470px; height:309px; background-position: -3643px -2121px}
.Uzbekistan {width:470px; height:231px; background-position: -754px -2428px}
.Vanuatu {width:470px; height:279px; background-position: -4722px -4965px}
.Vatican_City {width:365px; height:354px; background-position: -6542px -761px}
.Venezuela {width:469px; height:309px; background-position: -2365px -4139px}
.Vietnam {width:468px; height:309px; background-position: -2836px -3515px}
.Wallis_and-Futuna {width:470px; height:355px; background-position: -2px -3144px}
.Yemen {width:468px; height:308px; background-position: -3307px -4137px}
.Zambia {width:469px; height:307px; background-position: -4530px -3187px}
.Zimbabwe {width:470px; height:230px; background-position: -6005px -1887px}
