<div id="footer_home"><%= footer_home %></div>
<div id="footer_rate"><%= footer_rate %></div>
<div id="footer_lockLogo"><%= footer_lockLogo %></div>
<div id="footer_lockCategory"><%= footer_lockCategory %></div>
<div id="footer_rankings"><%= footer_rankings %></div>
<div id="footer_logos"><%= footer_logos %></div>
<div id="footer_profile"><%= footer_profile%></div>
<div id="footer_settings"><%= footer_settings %></div>
<div id="footer_filter"><%= footer_filter %></div>
<div id="footer_list"><%= footer_list %></div>
<div id="footer_grid"><%= footer_grid %></div>
<div id="footer_random"><%= footer_random %></div>
<div id="footer_about"><%= footer_about %></div>