<span class="guide level1" style="display: none"><%= LANG.level1_guide%></span>
<button class="button transparent level" data-level="1"><%= LANG.level_1%></button>

<span class="guide level2-1" style="display: none"><%= LANG.level2_guide%></span>
<span class="guide level2-2" style="display: none"><%= LANG.level2_guide2%></span>
<button class="button transparent level" data-level="2"><%= LANG.level_2%></button>


<span class="guide level3-1 c2" style="display: none"><%= LANG.level2_guide%></span>
<span class="guide level3-2 c2" style="display: none"><%= LANG.level2_guide2%></span>
<button class="button transparent level" data-level="3"><%= LANG.level_3%></button>
<span class="guide level3 c2" style="display: none"><%= LANG.level3_guide%></span>

<!--Refactor animera pil när man valt-->
<div class="nav">
    <span class="arrow"></span>
    <button href="#" class="button submit transparent c3" style="display:none"><%= LANG.continue%></button>
</div>


