<div class="score selected rotate" data-step="1">
    <span class="c2 number"><%= score%></span> <%= LANG.result_of%> <span class="c2 number"><%= total%></span>
</div>
<hr>
<div class="c wrapper">
    <div class="details country">
        <div class="c2"><%= LANG.flags%></div>
        <div class="c">
            <div class="cvl col">
                <span class="c3"><%= LANG.result_correct%></span>
                <ul class="correct">

                </ul>
            </div>
            <div class="cvl col">
                <span class="c5"><%= LANG.result_wrong%></span>
                <ul class="wrong">
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="nav">
    <button class="button c1 b2"><%= LANG.result_button_label%></button>
</div>